@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  background-color: #fff;
  padding: 5px;
}

h1 {
  margin-bottom: 15px;
}

body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Architects Daughter', cursive;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
